button {
    font-size: 2rem;
    font-weight: bold;
}

button.enabled {
    background-color: var(--bg-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    cursor: pointer;
}

button.enabled:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

button.disabled {
    cursor: not-allowed;
}